.header{
    background-color:#343A3E;
    color: #fff;
}

h1{
    font-size: 28px;
    font-family: SF Pro Text;
    margin: 0;
    padding: 18px 0;
}

.container{
    width: 1136px;
    margin: 0 auto;
}

p{
    margin: 0;
}

body{
    margin: 0;
}

.main p{
    text-align: right;
    margin: 30px 0;
}

.footer{
    margin: 100px;
}

.footer p{
    font-size: 16px;
    padding: 22px 0;
    color: #212529;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th{
    text-align: left;
    background-color: #ECEEEF;
    border: solid 1px #ECEEEF;
    padding: 16px 10px;
}

td{
    border: solid 1px #DEE2E6;
}

ul{
    margin: 16px 10px;
}

li:first-child{
    padding-bottom: 5px;
}

input{
    display: block;
}

.btn{
    color: white;
    background-color: #007BFF;
    border: none;
    margin-top: 36px;
}

.form-control{
    border: solid 1px #DEE2E6;
    padding: 10px 13px;
    margin-top: 12px;
    width: 324px;
}

.register-form{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

/* mobile */
@media screen and (max-width: 760px){
    .btn{
        width: 100%;
    }

    .container{
        width: 100%;
        margin: 0 auto;
    }

    .register-form{
        display: flex;
        /* justify-content: center; */
        flex-direction: column;
        margin: 30px 0;
        width: 100%;
    }

    table {
        display: none;
    }    
    
    .main{
        padding: 30px 50px;
    }

    .form-control{
        width: 100%;
        box-sizing: border-box;
        /* padding: 0; */
    }
}